{% extends 'base.html.twig' %}

{% block title %}{{ sujet.titre }}{% endblock %}

{% block body %}

{# Formulaire de création de forum #}
<div class="jumbotron row">
    <div class="col-md-8 m-auto">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.creer, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
    </div>
</div> 

<div class="row">
    <div class="col-md-8 m-auto">
        <h2>{{ sujet.titre }}</h2>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
                {{ post.content }}<br>
                <em>Posté le {{ post.createdAt | date("d/m/Y H:i") }}</em>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
